@import './colors.scss';
.blog{
    margin: 0 20%;
    padding: 6.2% 0 8.7%;
    & .title{
        font-size: 2.7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }
    &>p{
        color:$red;
        text-align: center;
        margin-top: 1%;
        letter-spacing: -0.6px;
        position: relative;
    }
    & .blogs{
        margin-top: 12.1%;
        display: flex;
        justify-content: space-between;
        & .blog-article{
            flex-basis: 32.4%;
            & .bg-img{
                & img{
                    width: 100%;
                    height: 100%;
                }
            }
            & .date{
                color: $text;
                font-size: 0.8rem;
            }
            & .bg-title{
                color: $dark-blue;
                margin-top: 2%;
                font-weight: 700;
                font-size: 1.2rem;
                letter-spacing: 1px;
            }
        }
    }
    &>div:last-child{
        text-transform: uppercase;
        margin: 8% auto 0;
    }
}


@media (min-width: 381px){
    .blog{
        & .title{
            font-size: 2.7rem;
        }
    }
}

@media (min-width: 565px){
    .blog{
        &>p::before{
            content: '';
            position: absolute;
            height: 2px;
            width: 3.5%;
            background-color: $red;
            bottom: -122%;
            right: 47.9%;
        }
    }
}

@media (min-width: 781px){
    .blog{
        & .blogs{
            & .date{
                margin-top: 8%;
            }
        }
    }
}

@media (max-width: 780px){
    .blog{
        & .blogs{
            flex-direction: column;
            & .blog-article{
                margin: 2% 0;
                & .date{
                    margin-top: 2%;
                }
            }
        }
    }
}

@media (max-width: 380px){
    .blog{
        & .title{
            font-size: 2rem;
        }
    }
}