@import './colors.scss';

.clients{
    background: url('./image/clients-bg.png');
    & .content{
        margin: 0 20%;
        padding: 7% 0;
        & .title{
            color: #fff;
            font-size: 2.7rem;
            text-align: center;
        }
        & p{
            margin-top: 2%;
            color: $red;
            text-align: center;
        }
        & .clients-img{
            padding: 11% 0 4% 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

@media (min-width: 901px){
    .clients-img{
        flex-direction: row;
    }
}

@media (max-width: 900px){
    .clients-img{
        flex-direction: column;
        & div{
            margin-top: 5%;
        }
    }
}