@import './colors.scss';

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'BtB';
    src:
        url(./fonts/Back_to_Black_Demo.ttf);
}



li{
    list-style: none;
}

a{
    text-decoration: none;
}


.btb{
    font-family: 'BtB';
}

.clr{
    color:$red;
}

.btn{
    background-color: $red;
    padding: 13px 41px;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}