@import './colors.scss';

.newslatter{
    background-color: $red;
    & .content{
        margin: 0 20%;
        padding: 1.6% 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        & .sub{
            color: $dark-blue;
            font-size: 1.2rem;
            font-weight: bold;
        }
        & .input{
            flex-basis: 50%;
            & input{
                outline: none;
                color: #fff;
                border: 0;
                font-size: 1rem;
                background-color: transparent;
                border-bottom: 1px solid #fff;
                padding: 4px;
                width: 99%;
                &::placeholder{
                    color: #fff;
                }
            }
        }
        & .btn{
            background-color: $dark-blue;
            color:#fff;
            padding: 6% 33%;
        }
    }
}